$colorAzure: #62d0df;
$colorViolet:#22356f;
$colorOrange:#f9b640;

$colors-help:
  "1"#ffe2de,
  "2"#c4e769,
  "3"#0052c1,
  "4" $colorViolet;

$colors-boxes:
  "1"$colorViolet,
  "2"#0052c1,
  "4" $colorAzure,
  "5" #dee1ff,
  "6" #8f00ff;
